<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="style_char.css">
<title>Character</title>
</head>

<body>

<div>
<h1>Character</h1>
<table  id="inventory">
  <caption id="char_info">Character info</caption>
   <tr>
    <td class='slot'>Slot1<%= @necklace %></td>
    <td class='slot'>Slot2<%= @helmet %></td>
    <td class='slot'>Slot3<%= @ring %></td>
  </tr>
  <tr>
  	<td class='slot'>Slot4<%= @weapon %></td>
  	<td class='slot'>Slot5<%= @breastplate %></td>
  	<td class='slot'>Slot6<%= @shield %></td>
  </tr>
   <tr>
    <td class='slot'>Slot7<%= @bracers %></td>
    <td class='slot'>Slot8<%= @leggins %></td>
    <td class='slot'>Slot9<%= @shoes %></td>
   </tr>
 </table>

</div>

</body>