<!DOCTYPE html>
<html>

<head>
	<title>Game</title>
  	<link rel="stylesheet" type="text/css" href="style1.css">

</head>

<body>

<div id="header">
<h1>Welcome to the Game!</h1>
</div> 

<br/>
<br>
<br>

<table  id="inventory" cellpadding="0" cellspacing="0" border="0">
   <tr>
    <th></th>
    <th id="char_info">Character info</th>
    <th></th>
   </tr>
   <tr>
    <td><%= @necklace %></td>
    <td><%= @helmet %></td>
    <th><%= @ring %></th>
  </tr>
  <tr>
  	<td><%= @main_hand %></td>
  	<td><%= @breastplate %></td>
  	<th><%= @second_hand %></th>
  </tr>
   <tr>
    <th><%= @bracers %></th>
    <th><%= @leggins %></th>
    <th><%= @shoes %></th>
   </tr>
 </table>

<div class="form-group">
<label></label>
<input name="login" type="text" class="form-control" placeholder="Your login">
<div>

<div class="form-group">
<label></label>
<input name="password" type="text" class="form-control" placeholder="Your password">
<div>

<br>
<form method="post" action="/login">
    <button type="submit">Log in</button>
</form> <br>

<br>
<div>
<form method="post" action="/combat">
    <button type="submit">Start fight</button>
    </form>
 <br>


<form method="post" action="/shop">
    <button type="submit">Shop</button>
</form> <br>

<form method="post" action="/statistics">
    <button type="submit">Statistics</button>
</form> <br>

</form> <br>
</div>


<br/>

</body>