<!DOCTYPE html>
<html>

<head>
	<title>Game</title>
  	<link rel="stylesheet" type="text/css" href="style1.css">

</head>

<body>

<div id="header">
<h1>Welcome to the Game!</h1>
</div> 

<br/>
<br>
<br>

<table  id="inventory" cellpadding="0" cellspacing="0" border="0">
   <tr>
    <td></td>
    <th id="char_info">Character info</th>
    <td></td>
   </tr>
   <tr>
    <td><%= @necklace %></td>
    <td><%= @helmet %></td>
    <td><%= @ring %></td>
  </tr>
  <tr>
  	<td><%= @main_hand %></td>
  	<td><%= @breastplate %></td>
  	<td><%= @second_hand %></td>
  </tr>
   <tr>
    <td><%= @bracers %></td>
    <td><%= @leggins %></td>
    <td><%= @shoes %></td>
   </tr>
 </table>


<table id="command_chat" border="1" cellpadding="0" cellspacing="0">
<tr>
<td id="map" width="900" height="400" vertical-align="top">Table</td>
</tr>
<tr>
<td name="dialog_window" id="dialog_window" width="900" height="30" align="left">Dialog window<td>
</tr>
</table>

<div class="form-group">
<label></label>
<input name="login" type="text" class="form-control" placeholder="Your login">
<div>

<div class="form-group">
<label></label>
<input name="password" type="text" class="form-control" placeholder="Your password">
<div>

<br>
<form method="post" action="/login">
    <button type="submit">Log in</button>
</form> <br>

<br>
<div>
<form method="post" action="/combat">
    <button type="submit">Start fight</button>
    </form>
 <br>


<form method="post" action="/shop">
    <button type="submit">Shop</button>
</form> <br>

<form method="post" action="/statistics">
    <button type="submit">Statistics</button>
</form> <br>

</form> <br>
</div>


<br/>

</body>